/* -----------------------------------------------------

Add here all your CSS customizations 

Note: IE9 doesn't support transitions and animations

-------------------------------------------------------*/


#section-6{
	/*margin-top: 746px;*/
	padding-top: 0 !important;
}

/*#section-5.split-box .col-left, .split-box .col-right{
	background-color: #f2f2f2;
}*/

#section-5{
	background-color: #f2f2f2;
}

.lime-green{
	background-color: #9dd03b;
	display: inline;
	margin: 10px;
	padding: 10px;
	text-transform: lowercase;
	font-family: "helvetica", sans-serif;
	border-radius: 7px;
}

.lime-green.one{
	color: #fff;
}

.lime-green.two{
	color: #414246
}

.k{
	/*background-color: #414246;*/
	padding-bottom: 0;
	color: #414246;
	border-bottom: 4px solid #fff;
	animation-play-state: paused;
}

.m{
	border-bottom: 4px solid #414246;
	padding-bottom: 0;
}

.k:hover{
	animation-play-state: running;
}

#section-5{
	display: none;
}

.meet-us{
	border-right: 1px solid #414246
}

.bg-main.text-white{
	margin-right: 0;
}

.portfolio .box .cover{
	background: rgba(0,0,0,.25);
}


/***********  Try Later *************/
/*#section-2 .col-left.col-lg-6.col-lg-height.no-padding{}
	

#section-2 p#quote-overlay{
	position: absolute;
	width: 604px;
  	height: 492px;
 	 top: 0;
  	left: 0;										
	background-color: red;
	color: #fff;
	display: inline-block;
	text-align: center;
}

#section-2 p#quote-overlay:hover{
	display: none;
}	*/

#cd-lateral-nav a:hover{
	text-decoration: none;
}

col-left col-lg-6 col-lg-height no-padding overlay{
	position: relative;
}

.myoverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	top: 0;
	left: 0;
	color: #fff;
	/*visibility: hidden;
	z-index: 100;*/
	opacity: 0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.myoverlay:hover{
	/*visibility: visible;*/
	opacity: 1;
}

.myoverlay p{
	/*font-size: 200%;*/
	color: rgba(255,255,255,.85);
}

.open-quote, .close-quote{
	color: rgba(255,255,255,.75);
	font-family: 'Coustard', serif;	
	font-size: 1000%;	
	position: absolute;
}

span.customer-quote{
	line-height: 93px;
	font-size: 56px;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;	
	position: absolute;
	margin-top: 23%;
	text-align: center;
}

span.mk-green{
	color: #9dd03b;
	font-weight: 800 !important;
}

span.open-quote{
	top: 36%;
	left: 1%;
}

 span.close-quote{
	 right: 1%;
	 bottom: 19%;
}

.split-box .col-inner{
	padding: 15px 80px
}

.img-trial{
	overflow: hidden;
}

.img-trial img{
	position: absolute;
	top: 0;
	left: 0;
	height: 120% !important;
}