/* -----------------------------------------------------

Add here all your CSS customizations 

Note: IE9 doesn't support transitions and animations

-------------------------------------------------------*/


#section-6{
	/*margin-top: 746px;*/
	padding-top: 0 !important;
}

/*#section-5.split-box .col-left, .split-box .col-right{
	background-color: #f2f2f2;
}*/

#section-5{
	background-color: #f2f2f2;
}

.lime-green{
	background-color: #9dd03b;
	display: inline;
	margin: 10px;
	padding: 10px;
	text-transform: lowercase;
	font-family: "helvetica", sans-serif;
	border-radius: 7px;
}

.lime-green.one{
	color: #fff;
}

.lime-green.two{
	color: #414246
}

.k{
	/*background-color: #414246;*/
	padding-bottom: 0;
	color: #414246;
	border-bottom: 4px solid #fff;
	animation-play-state: paused;
}

.m{
	border-bottom: 4px solid #414246;
	padding-bottom: 0;
}

.k:hover{
	animation-play-state: running;
}

#section-5{
	display: none;
}

.meet-us{
	border-right: 1px solid #414246
}

.bg-main.text-white{
	margin-right: 0;
}

.portfolio .box .cover{
	background: rgba(0,0,0,.25);
}

#cd-lateral-nav a:hover{
	text-decoration: none;
}


col-left col-lg-6 col-lg-height no-padding overlay{
	position: relative;
}

.myoverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	top: 0;
	left: 0;
	color: #fff;
	/*visibility: hidden;
	z-index: 100;*/
	opacity: 0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.myoverlay:hover{
	/*visibility: visible;*/
	opacity: 1;
}

.myoverlay p{
	/*font-size: 200%;*/
	color: rgba(255,255,255,.85);
}

.open-quote, .close-quote{
	color: rgba(255,255,255,.75);
	font-family: 'Coustard', serif;	
	font-size: 1000%;	
	position: absolute;
}

span.customer-quote{
	line-height: 93px;
	font-size: 56px;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;	
	position: absolute;
	margin-top: 23%;
	text-align: center;
}

span.mk-green{
	color: #9dd03b;
	font-weight: 800 !important;
}

span.open-quote{
	top: 36%;
	left: 1%;
}

 span.close-quote{
	 right: 1%;
	 bottom: 19%;
}

.split-box .col-inner{
	padding: 15px 80px
}

.img-trial{
	overflow: hidden;
}

.img-trial img{
	position: absolute;
	top: 0;
	left: 0;
	height: 120% !important;
}

#quote-form-main{
	width:100%;
	float:left;
	padding-top:0px;
}


.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
  border-radius: 30px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	cursor:pointer;
	background-color: #F20000;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

